body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('burbuli.png'); /* Set the background image */
    background-repeat: repeat; /* Repeat the image both horizontally and vertically */
    background-color: black; /* Fallback background color */
    background-size: 1000px; /* Set the size of the background bubbles */
    color: #ffffff;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #6b4293;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.button {
    background-color: #7b84b8;
    border: 3px solid #6b4293;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #6b4293;
    color: #ffffff;
}

.intro {
    font-size: 18px;
    margin-bottom: 20px;
}

form label {
    text-align: left;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="tel"],
form input[type="date"] {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding: 8px;
    transition: border-color 0.4s;
    width: 100%; /* Ensure all form inputs have the same width */
    max-width: 400px;
}

form input[type="text"]:focus,
form input[type="tel"]:focus,
form input[type="date"]:focus {
    border-color: #7b84b8;
}




.carousel-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 20px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%; /* Adjust width to fit the container */
}

.carousel img {
    width: calc(33.33% - 10px);
    height: auto;
    margin: 5px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    border-radius: 8px;
}

/* Prize Section Styling */
.prize-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1a1a1a;
    margin-top: 20px;
    border-radius: 8px;
}

.prize-image {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
}

.prize-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.prize-details {
    flex: 2;
    padding: 20px;
    text-align: left;
}

.prize-details h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #7b84b8;
}

.prize-details p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

.prize-details a {
    color: #7b84b8;
    text-decoration: none;
}

.prize-details a:hover {
    text-decoration: underline;
}

.social-networks a {
    color: #7b84b8;
    text-decoration: none;
}

.social-networks a:hover {
    text-decoration: underline;
}
.form-container {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Style the form elements */
#lotteryForm label {
    color: #ffffff; /* White text color */
}

#lotteryForm input[type="text"],
#lotteryForm input[type="tel"],
#lotteryForm input[type="date"] {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding: 8px;
    transition: border-color 0.4s;
    width: 100%; /* Ensure all form inputs have the same width */
    max-width: 400px;
}

#lotteryForm input[type="text"]:focus,
#lotteryForm input[type="tel"]:focus,
#lotteryForm input[type="date"]:focus {
    border-color: #7b84b8;
}


/* Center content within the prize section on smaller screens */
@media (max-width: 768px) {
    .prize-section {
        text-align: center; /* Center text within the prize section */
    }

    .prize-details {
        order: 1; /* Move prize details below the image */
        text-align: center; /* Center text within the prize details on smaller screens */
    }

    .prize-details h2 {
        order: 0; /* Keep the heading on top */
        margin-bottom: 10px; /* Add some space below the heading */
        text-align: center;
    }

    .prize-image {
        margin-bottom: 10px; /* Add space between the image and text */
    }
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow logos to wrap to the next line on smaller screens */
}


.logo-mark {
    max-width: 100px; /* Adjust the size of the logo for smaller screens */
    height: auto;
    margin-bottom: 10px; /* Reduce margin for better spacing on smaller screens */
}

.logo img {
    max-width: 300px; /* Adjust as needed */
    height: auto;
}
