body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('burbuli.png'); /* Set the background image */
    background-repeat: repeat; /* Repeat the image both horizontally and vertically */
    background-color: black; /* Fallback background color */
    background-size: 1000px; /* Set the size of the background bubbles */
    color: #ffffff;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    
}

.logo img {
    max-width: 100%;
    height: auto;
}

.button {
    background-color: #7b84b8;
    border: 3px solid #6b4293;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #6b4293;
    color: #ffffff;
}

.intro {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px; /* Add margin to push the text closer to the carousel */
}

form label {
    text-align: left;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="tel"],
form input[type="date"] {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding: 8px;
    transition: border-color 0.4s;
    width: 100%; /* Ensure all form inputs have the same width */
    max-width: 400px;
}

form input[type="text"]:focus,
form input[type="tel"]:focus,
form input[type="date"]:focus {
    border-color: #7b84b8;
}


.carousel-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 25%; /* Display 4 cards at a time */
    box-sizing: border-box;
    padding: 10px;
}

.card {
    background-color: #1a1a1a;    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-upper {
    height: 200px; /* Adjust as needed */
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-upper img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0; /* Add rounded corners only to top */
    border-bottom-right-radius: 0; /* Add rounded corners only to top */
}

.card-lower {
    padding: 20px;
}

.card-lower h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-lower p {
    margin: 0;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.carousel-nav button {
    background: none;
    border: none;
    font-size: 36px; /* Increased font size */
    color: white;
    cursor: pointer;
}

.carousel-nav button:hover {
    color: #7b84b8;
}


/* Prize Section Styling */
.prize-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #231F20;
    margin-top: 20px;
    border-radius: 8px;
}

.prize-image {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
}

.prize-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.prize-details {
    flex: 2;
    padding: 20px;
    text-align: left;
}

.prize-details h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #7b84b8;
}

.prize-details p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

.prize-details a {
    color: #7b84b8;
    text-decoration: none;
}

.prize-details a:hover {
    text-decoration: underline;
}

.social-networks a {
    color: #7b84b8;
    text-decoration: none;
}

.social-networks a:hover {
    text-decoration: underline;
}
.form-container {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Style the form elements */
#lotteryForm label {
    color: #ffffff; /* White text color */
}

#lotteryForm input[type="text"],
#lotteryForm input[type="tel"],
#lotteryForm input[type="date"] {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding: 8px;
    transition: border-color 0.4s;
    width: 100%; /* Ensure all form inputs have the same width */
    max-width: 400px;
}

#lotteryForm input[type="text"]:focus,
#lotteryForm input[type="tel"]:focus,
#lotteryForm input[type="date"]:focus {
    border-color: #7b84b8;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}

.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 2.5rem;
    text-transform: capitalize;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #7b84b8;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #7b84b8;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #6b4293;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}


.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    font-size: 0.9rem;
    margin: 20px 0; /* Increased margin for spacing */
    text-align: left; /* Align list items to the left */
}

.product-detail ul li span{
    font-weight: 400;
}




@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
/* Center content within the prize section on smaller screens */
@media (max-width: 768px) {
    .prize-section {
        text-align: center; /* Center text within the prize section */
    }

    .prize-details {
        order: 1; /* Move prize details below the image */
        text-align: center; /* Center text within the prize details on smaller screens */
    }

    .prize-details h2 {
        order: 0; /* Keep the heading on top */
        margin-bottom: 10px; /* Add some space below the heading */
        text-align: center;
    }

    .prize-image {
        margin-bottom: 10px; /* Add space between the image and text */
    }
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow logos to wrap to the next line on smaller screens */
    background-color: #231F20;
}


.logo img {
    max-width: 300px; /* Adjust as needed */
    height: auto;
}
.hooligaan-logo {
    width: 20px; /* Adjust the width of the Hooligaan logo */
}
.social-networks img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

